<!-- <p>
  <mat-toolbar [class.mat-elevation-z8]="true" color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>MovieApp</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p> -->

<nav class="navbar">
  <ul>
    <a href="">
      <li>
        <img src="../../assets/logo.png" width="25px" height="25px" alt="" />
      </li>
      <li><p>MoviesApp</p></li>
    </a>
  </ul>

  <div class="header-left">
    <ul>
      <li><a href="">Usuário</a></li>
      <li><a href="">Sobre</a></li>
    </ul>
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>
