<main class="movies-container">
  <mat-progress-bar mode="query"></mat-progress-bar>
  <!-- <div *ngFor="let item of movies.value">
    <div class="movie-card" (click)="teste()">
      <img src="../../../assets/avatar.jpeg" alt="" />
      <span class="info">
        <span>Matrix</span>

        <img src="../../../assets/next.svg" width="20px" alt="" />
      </span>
    </div>
  </div> -->

  <button
    class="add-movie-btn"
    mat-mini-fab
    color="primary"
    aria-label="Example icon button with a menu icon"
    (click)="openCreateMovieModal()"
  >
    <mat-icon>add</mat-icon>
  </button>
</main>
